<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Website</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow" />
    <meta name="build-version" content="<%= APP_VERSION %>" />

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Meta -->
    <meta name="description" content="This is a my awesome website." />
    <meta name="keywords" content="" />
    <meta name="authors" content="" />
    <meta name="copyright" content="" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="<%= HOSTNAME_SSL %>" />
    <meta property="og:image" content="<%= HOSTNAME_SSL %>/banner/og.jpg" />
    <meta property="og:site_name" content="" />
    <meta property="og:locale" content="ko-kr" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="<%= HOSTNAME_SSL %>/banner/og.jpg" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
